@import 'fonts';

@mixin display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: $second-font;
}

@mixin after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    border-radius: 3px;
}

@mixin btn-hover {
    border: 2px solid #fff;
    transform: scale(1.1);
}

@mixin background-sets {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; 
}

@mixin card-background {
    width: 100%;
    height: 70%;
    background-size: 100%;
    background-repeat: no-repeat;
}

@mixin background-margin-all {
    margin: 0 35px;
    background-color: #fff;
}