@import '../Assets/mixins';
@import '../Assets/fonts';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f7f7f7;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include background-margin-all();
    position: sticky;
    top: 0; 
    z-index: 3;

    nav {
        margin: 0 30px;

        a {
            margin-right: 20px;
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-family: $primary-font;
        }
    }

    #icon{
        display: none;
    }

    #cancel{
        color: #000;
        background-color: #fff;
    }

    img {
        width: 6%;
        margin-right: 70px;
    }

    #mobile-nav{
        display: none;
    }
}

#main-background {
    height: 100vh;
    @include background-margin-all();
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a9ae0721718851.56306a18d6be9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    @include display();
    position: relative;

    .middle-main-background{
        height: 30%;
        width: 30%;
        @include display();
        position: absolute;
        top: 60%;
        font-family: $second-font;

        &::after{
            @include after();
        }
        
        p {
            margin: 0;
            color: #fff;
            text-align: center;
            z-index: 2;
            margin-top: 10px;
            font-size: 20px;
        }

        button {
            margin-top: 30px;
            @include btn();
            z-index: 2;
            transition: all 0.3s linear;

            &:hover {
                @include btn-hover();
            }
        }
    }
}

#suggestions-men, #suggestions-women {
    @include background-margin-all();
    padding-top: 45px;
    h2 {
        margin: 0;
        text-align: center;
        font-family: $primary-font;
    }

    .suggested-articles {
        height: 70vh;
        @include display();
        flex-direction: row;
        justify-content: space-evenly;
        
        
        .cards{
            height: 85%;
            flex-basis: 20%;
            @include display();
            position: relative;
            background-color: #fff;

            &::after{
                @include after();
                opacity: 0.2;
                border-radius: 10px;
                transition: opacity 0.5s linear;
            }
    
            &:hover::after{
                opacity: 0;
            }
    
            
    
            .card-btn {
               @include btn();
               position: absolute;
               bottom: 30px;
               transition: all 0.3s linear;
               z-index: 1;
    
                &:hover{
                    @include btn-hover();
                    font-weight: 700;
                
                    &::after{
                        @include after();
                        z-index: -1;
                        opacity: 0.6;
                    }
                }
    
            }
        }
}



    .cards:nth-of-type(1){
        background-image: url(https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/2043355/2017/9/2/11504337530095-US-Polo-Assn-Men-Navy-Blue-Printed-Polo-Collar-T-shirt-9691504337529953-2.jpg);
        @include background-sets();
    }

    .cards:nth-of-type(2) {
        background-image: url(https://5.imimg.com/data5/TJ/YS/GLADMIN-57831385/u-s-polo-assn-navy-blue-solid-regular-fit-polo-t-shirt-500x500.png);
        @include background-sets(); 
    }

    .cards:nth-of-type(3) {
        background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/11304488-DRGY_1_d5ebb692-107e-4223-b6fe-b52b76ca93cc_3000x.jpg?v=1608042706);
        @include background-sets(); 
    }

    .cards:nth-of-type(4) {
        background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/11A2230W-MRFL--10435_1600x.jpg?v=1617031589);
        @include background-sets(); 
    }
}

#suggestions-men{
    h2{
        margin-bottom: -20px;
    }
}

#suggestions-women{
    
    padding: 0;

    .cards:nth-of-type(1){
        background-image: url(https://rukminim1.flixcart.com/image/714/857/jnj7iq80/t-shirt/z/c/c/s-uwts0734-u-s-polo-assn-original-imafa73ampygpa9y.jpeg?q=50);
    }

    .cards:nth-of-type(2) {
        background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/21359000-HGRY_1_1200x.jpg?v=1576529891);
    }

    .cards:nth-of-type(3) {
        background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/214916ZH-OPWH_1_1200x.jpg?v=1570024487);
    }

    .cards:nth-of-type(4) {
        background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/215186ZH-EVBL--5608_1200x.jpg?v=1600361327);
    }
}


#membership-section {
    @include background-margin-all();
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    @include display();

    img{
       width: 10%;
       height: 10%;
    }

    #join-part, #p-part {
        text-align: center;
        font-family: $primary-font;
        width: 40%;
        font-weight: 700;
        padding: 0 20px;
    }

    #anchor-tags{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 30px 0;
        width: 10%;

        a {
            text-decoration: none;
            color: #000;
            font-size: 18px;
            font-family: $primary-font;
            font-weight: 700;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}


#collections-description{
    @include background-margin-all();
    @include display();
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);


    .collection-card{
        width: 20%;
        height: 50vh;
        margin: 40px 0;
        border: 1px solid rgba(0, 0, 0, 0.301);
        border-radius: 10px;
        @include display();
        justify-content: space-between;
       
        h3, p {
            margin: 0;
            font-family: $primary-font;
            font-weight: 700;
            text-align: center;
            padding: 10px;
        }

        button{
            @include btn();
            width: 50%;
            border-radius: 10px;
            border:1px solid black;
            color: #000;
            font-size: 14px;
            transition: all 0.3s linear;
            margin-bottom: 10px;

            &:hover{
                @include btn-hover();
                border: 1px solid black;

                &:hover::after{
                    @include after();
                    border-radius: 10px;
                }
            }
        }

        #card-background1{
            @include card-background();
            background-image: url(https://photos6.spartoo.eu/photos/165/16585371/16585371_500_A.jpg);
        }
        
        #card-background2{
           @include card-background();
           background-image: url(https://www.magazinfotbal.ro/imagini/produse/mare/tricouri-polo-us-assn-us-player-copii-54283408_0_full.jpg);
        }
        
        #card-background3{
            @include card-background();
            background-image: url(https://static.cilory.com/428322-large_default/us-polo-assn-white-round-neck-t-shirt.jpg.webp);
            background-size: 75%;
            background-position: top center;
        }
    }
}


footer{
    @include background-margin-all();
    

    #bottom-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .footer-section{

            ul {
                list-style: none;
                padding-left: 0;

                li{
                    padding: 5px 0;
                    font-family: $primary-font;
                    cursor: pointer;
                }
            }

            h4{
                margin-top: 40px;
                font-family: $primary-font;
            }

            i{
                padding-right: 8px;
                font-size: 18px;
                cursor: pointer;
                transition: transform 0.2s linear;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }

    #copy-right{
        @include display();
        margin-top: 30px;
        width: 100%;
        position: relative;
        background-color: #f7f7f7;
        border: 10px solid #fff;
        
        small{
            display: block;
            font-size: 14px;
            font-family: $primary-font;
            padding: 3px 0;
            font-weight: 700;
        }
    }
}

@import 'media-query';