@import '../Assets/mixins';
@import '../Assets/fonts-colors';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $body-color;
    position: relative;
}

#main{
    display: flex;
    width: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    transition: all 0.3s linear;
    position: relative;
}

.main-movement{
    margin-left: -420px;
    
    &::after{
        @include after();
        opacity: 0.6;
        z-index: 3;
    }
}

#cart-container{
    margin-right: -420px;
    background-color: $primary-color;
    flex-direction: column;
    align-items: flex-start;
    h2{
        font-family: $second-font;
    }
    #cart-items, h3, #placeOrder{
        width: 20%;
        text-align: center;
        margin-left: 15%;
        div{
            border-bottom: 2px solid $body-color;
            margin-top: 10px;
            img{
                width: 100%;
            }
        
            h2, p{
                font-family: $second-font;
                font-size: 18px;
                
            }

            button{
                background-color: transparent;
                border-radius: 5px;
                font-family: $second-font;
                transition: all 0.3s linear;
                margin-bottom: 10px;

                &:hover{
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
    }
    h3{
        font-family: $second-font;
        font-size: 24px;
    }

    #placeOrder{
        height: 30px;
        background-color: transparent;
        border-radius: 5px;
        font-family: $second-font;
        transition: all 0.3s linear;
        margin-bottom: 10px;

        &:hover{
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}

.cart-container-active{
    width: 100vw;
    position: relative;

    #cart-items{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        div{
            width: 100vw;
        }
    }

    .back-button{
        position: absolute;
        top:10px;
        left: 0;
        background-color: transparent;
        border: none;
        padding: 20px;
        font-family: $second-font;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include background-margin-all();
    position: sticky;
    top: 0; 
    z-index: 3;

    nav {
        padding: 30px;
        a {
            margin-right: 20px;
            text-decoration: none;
            color: $secondary-color;
            font-weight: 700;
            font-family: $primary-font;
        }
    }

    #icon{
        display: none;
    }

    #cancel{
        color: $secondary-color;
        background-color: $primary-color;
    }

    img {
        width: 6%;
        height: 6%;
        margin-right: 70px;
        z-index: 3;
    }

    #mobile-nav{
        display: none;
    }
}

#product-description{
    @include background-margin-all();
    display: flex;
    justify-content: row;

    #product-image{
        background-image: url(https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/2043355/2017/9/2/11504337530095-US-Polo-Assn-Men-Navy-Blue-Printed-Polo-Collar-T-shirt-9691504337529953-2.jpg);
        background-position: top center ;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60vw;
    }

    #product-details{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 50px;
        font-family: $primary-font;

        h3{
            margin-top: 0;
        }

        #stars{
            i:last-of-type{
                margin-right: 8px;
            }
            small{
                font-family: $second-font;
                font-size: 14px;
                font-weight: 700;
                margin-right: 8px;
            }
        }

        h3{
            margin-top: 10px;
        }

        ul{
            font-weight: 700;
            font-family: $primary-font;
            margin-top: 0;

            li{
                margin-bottom: 8px;
            }
        }

        #sizes-btn{
            h3{
                display: inline-block;
                margin-right: 8px;
            }
            button{
                background-color: $primary-color;
                color: $secondary-color;
                border-color: $secondary-color;
                width: 40px;
                height: 40px;
                margin-right: 8px;
                font-family: $second-font;
                transition: all 0.2s linear;

                &:hover{
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }

            .clicked-size{
                background-color: $secondary-color;
                color: $primary-color;
            }
        }

        #another-img{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 30px 0;

            .zoom-div{
                overflow: hidden;
                // margin-left: 20px;

                img{
                    width: 10vw;
                    transition: transform 0.2s linear;

                    &:hover{
                        transform: scale(1.2);
                    }
                } 
            }
        }

        #add-to-cart{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.301);
            position: relative;
            
            h3{
                margin-bottom: 0;
                margin-top: 10px;
            }

            p{
                font-weight: 700;
            }

            #count{
                display: flex;
                justify-content: flex-start;

                button{
                    width: 30px;
                    height: 30px;
                    background-color: $primary-color;
                    transition: all 0.2s linear;
                    font-weight: 700;

                    &:hover{
                        background-color: $secondary-color;
                        color: $primary-color;
                    }
                }

                input{
                    width: 30px;
                    padding: 0 9px;
                    font-weight: 700;
                }
            }

            #popup{
                display: none;
                text-align: center;
                margin-top: 20px;
                background-color: $body-color;
                border-radius: 10px;
                padding: 20px;
                width: 83%;
                margin-right: 16%;
                height: 70%;
                font-family: $second-font;
                position: absolute;
                top: -10px;
                right: 10px;
                justify-content: center;
                align-items: center;
            }

            #add-btn{
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                height: 100%;
              
                .add{
                    margin-top: 20px;
                    margin-right: 20px;
                    height: 30px;
                    width: 40%;
                    border: 1px solid $secondary-color;
                    background-color: $primary-color;
                    font-family: $second-font;
                    transition: all 0.2s linear;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    i{
                        margin-right: 8px;
                    }

                    &:hover{
                        background-color: $secondary-color;
                        color: $primary-color;
                    }
                }
            }    
        }
    }    
}

#suggestions-men{
    @include background-margin-all();
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: -90px;
    h2 {
        margin: 20px 0;
        text-align: center;
        font-family: $second-font;
    }

    .controls {
        display: flex;
        position: absolute;
        top: 45%;
        left: 0;
        justify-content: space-between;
        width: 100%;
        z-index: 99999;
        transition: all ease 0.5s;
        
        .control {
          margin: 0 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 40px;
          border-radius: 60%;
          background-color: $secondary-color;
          color: $primary-color;
          opacity: .8;
          transition: ease .3s;
          cursor: pointer;

          &:hover{
              opacity: 1;
          }
        }
    }
      
    .suggested-articles {
        width: 98%;
        height: 70vh;
        display: flex;
        justify-content: left;
        margin-left: 5px;

        &::-webkit-scrollbar{
            visibility: hidden;
        }
        
        .cards{
            height: 60vh;
            min-width: 30%;
            @include display();
            position: relative;
            background-color: $primary-color;
            margin: 0 1.9%;
            left: 0;
            transition: flex 0.5s linear;

            &::after{
                @include after();
                opacity: 0.2;
                border-radius: 10px;
                transition: opacity 0.5s linear;
            }
    
            &:hover::after{
                opacity: 0;
            }
    
            
    
            .card-btn {
               @include btn();
               position: absolute;
               bottom: 30px;
               transition: all 0.3s linear;
               z-index: 1;
    
                &:hover{
                    @include btn-hover();
                    font-weight: 700;
                
                    &::after{
                        @include after();
                        z-index: -1;
                        opacity: 0.6;
                    }
                }
    
            }
        }
    }
}




.cards:nth-of-type(1){
    background-image: url(https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/2365438/2018/2/9/11518160260566-US-Polo-Assn-Men-Navy-Blue-Solid-Polo-Collar-T-shirt-5831518160260384-1.jpg);
    @include background-sets();
}

.cards:nth-of-type(2) {
    background-image: url(https://5.imimg.com/data5/TJ/YS/GLADMIN-57831385/u-s-polo-assn-navy-blue-solid-regular-fit-polo-t-shirt-500x500.png);
    @include background-sets(); 
}

.cards:nth-of-type(3) {
    background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/11304488-DRGY_1_d5ebb692-107e-4223-b6fe-b52b76ca93cc_3000x.jpg?v=1608042706);
    @include background-sets(); 
}

.cards:nth-of-type(4) {
    background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/11A2230W-MRFL--10435_1600x.jpg?v=1617031589);
    @include background-sets(); 
}
.cards:nth-of-type(5) {
    background-image: url(https://cdn.shopify.com/s/files/1/0014/6217/3742/products/113044-8800A.2.INTERNATIONAL_BLUE_2000x.jpg?v=1577724253);
    @include background-sets(); 
}
.cards:nth-of-type(6) {
    background-image: url(https://sslimages.shoppersstop.com/sys-master/images/h16/ha2/15034468761630/206339118_WHITE.jpg_1088Wx1632H);
    @include background-sets(); 
}
.cards:nth-of-type(7) {
    background-image: url(https://sslimages.shoppersstop.com/sys-master/images/h73/hcc/15016301723678/206369554_BLACK.jpg_1088Wx1632H);
    @include background-sets(); 
}
.cards:nth-of-type(8) {
    background-image: url(https://assets.ajio.com/medias/sys_master/root/h99/hcb/11766572515358/-1117Wx1400H-440934187-navy-MODEL.jpg);
    @include background-sets(); 
}
.cards:nth-of-type(9) {
    background-image: url(https://assets.ajio.com/medias/sys_master/root/h3a/h83/13344055427102/-1117Wx1400H-460315329-yellow-MODEL.jpg);
    @include background-sets(); 
}

footer{
    @include background-margin-all();
    border-top: 1px solid rgba(0, 0, 0, 0.301);

    #bottom-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;

        .footer-section{

            ul {
                list-style: none;
                padding-left: 0;

                li{
                    padding: 5px 0;
                    font-family: $primary-font;
                    cursor: pointer;
                }
            }

            h4{
                margin-top: 40px;
                font-family: $primary-font;
            }

            i{
                padding-right: 8px;
                font-size: 18px;
                cursor: pointer;
                transition: transform 0.2s linear;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }

    #copy-right{
        @include display();
        margin-top: 30px;
        width: 100%;
        position: relative;
        background-color: $body-color;
        border: 10px solid $primary-color;
  
        small{
            display: block;
            font-size: 14px;
            font-family: $primary-font;
            padding: 3px 0;
            font-weight: 700;
        }
    }
}

@import 'media-query';